.about-details {
	/* background-color: aqua; */
	display: inline-block;
	font-size: 21px;
	text-decoration-line: underline;
	padding-top: 5px;
	padding-bottom: 5px;
	color: black;
}

.about-details:visited {
	color: blue;
}

.side-tabs {
	margin: 0;
	display: inline-block;
	vertical-align: top;
	margin-left: 500px;
}

.about-details,
.side-tabs {
	width: 272px;
	margin-right: 17px;
}

.text {
	display: inline-block;
	width: 870px;
	font-size: 21px;
}
